.headerWrapper {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 14px;
        color: rgb(25, 25, 25);
        line-height: 20px;
        margin: 0;
        font-weight: 500;

        .breadcrumb {
            display: flex;
            color: rgb(93, 62, 188);

            .itemWrapper {
                display: flex;
                align-items: center;

                .breadcrumbItem {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 20px;
                    color: #191919;
                    display: inline-flex;
                    align-items: center;

                    .wrapper {
                        .link {
                            color: #3e3e3e;
                            position: relative;
                            outline: 0px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            text-decoration: none;
                        }
                    }
                }

                .breadcrumbSeparator {
                    margin-right: 0px;
                    margin-left: 0px;
                    display: inline-flex;
                    width: 24px;
                    height: 24px;
                    align-items: center;
                    justify-content: center;

                    .wrapper {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 12px;
                        min-height: 12px;

                        .icon {
                            fill: currentcolor;
                            width: 7px;
                            height: 7px;
                        }
                    }
                }
            }
        }
    }
}

.cardPartials {
    .cardWrapper {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0);
        padding: 0px;
        box-shadow: none;
        justify-content: space-between;
        width: 100%;
        background: rgb(255, 255, 255);
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;

        .main {
            width: 100%;

            .categoryProducts {
                .main {
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .cardWrapper {
                            display: grid;
                            grid-auto-flow: row;
                            background-color: rgb(243, 243, 243);
                            border-radius: 4px;
                            overflow: hidden;
                            position: relative;
                            z-index: 0;
                            flex-direction: column;
                            padding: 0px;
                            box-shadow: none;
                            justify-content: space-between;
                            width: 100%;
                            background: rgb(255, 255, 255);
                            font-weight: 600;
                            font-size: 16px;

                            @media (min-width: 1264px) {
                                grid-template-columns: repeat(4, minmax(165px, 1fr));
                                gap: 1px;
                            }

                            &::before {
                                content: "";
                                background-color: #fafafa;
                                position: absolute;
                                right: 0px;
                                top: 0px;
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }

        .productMain {
            padding: 12px 8px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 255, 255);

            .imageMain {
                .imageLink {
                    margin-bottom: 8px;
                    position: relative;
                    outline: 0px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgb(93, 62, 188);
                    text-decoration: none;
                    cursor: pointer;
                    background-color: transparent;

                    .imageFigure {
                        width: 120px;
                        height: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        margin: 0;

                        .image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 0px;
                            background: transparent;
                            animation: 0s ease 0s 1 normal none running none;
                        }
                    }

                    .counterMain {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        border-radius: 8px;
                        overflow: hidden;
                        box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
                        flex-direction: column-reverse;

                        .deleteProduct,
                        .removeProduct {
                            border-top-left-radius: 0px;
                            border-top-right-radius: 0px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            flex-shrink: 0;
                            background: rgb(255, 255, 255);
                            width: 32px;
                            height: 32px;
                            border-radius: 0px;
                            user-select: none;
                            color: rgb(93, 62, 188);
                            border: 0px;
                            padding: 0px;
                            overflow: initial;

                            .deleteButton,
                            .removeButton {
                                padding: 0px;
                                width: 100%;
                                height: 100%;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 600;
                                line-height: 16px;
                                outline: 0px;
                                border-width: 0px;
                                border-style: initial;
                                border-image: initial;
                                cursor: pointer;
                                background-color: inherit;
                                color: inherit;
                                border-color: inherit;

                                .deleteButtonMain,
                                .removeButtonMain {
                                    pointer-events: none;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    min-width: 24px;
                                    min-height: 24px;

                                    svg {
                                        fill: currentColor;
                                        width: 18px;
                                        height: 18px;
                                    }
                                }

                                .deleteButtonMain {
                                    svg {
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                            }
                        }

                        .productCount {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #5d3ebc;
                            color: white;
                            width: 32px;
                            height: 32px;
                        }

                        .wrapper {
                            border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;
                            border-top-left-radius: 0px;
                            border-top-right-radius: 0px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            flex-shrink: 0;
                            background: rgb(255, 255, 255);
                            width: 32px;
                            height: 32px;
                            user-select: none;
                            color: rgb(93, 62, 188);
                            border: 0px;
                            padding: 0px;
                            overflow: initial;

                            .counterButton {
                                padding: 0px;
                                width: 100%;
                                height: 100%;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 600;
                                line-height: 16px;
                                outline: 0px;
                                border-width: 0px;
                                border-style: initial;
                                border-image: initial;
                                cursor: pointer;
                                background-color: inherit;
                                color: inherit;
                                border-color: inherit;

                                .iconMain {
                                    pointer-events: none;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    min-width: 24px;
                                    min-height: 24px;

                                    .icon {
                                        fill: currentcolor;
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .priceMain {
                display: flex;

                .price {
                    display: inline-flex;
                    color: #5d3ebc;
                    margin-bottom: 8px;
                    line-height: 18px;
                    font-weight: 500;
                }
            }

            .titleMain {
                display: inline-flex;
                color: #191919;
                margin-bottom: 6px;
                text-align: center;
                line-height: 18px;
                font-weight: 500;
            }

            .paragraphMain {
                display: inline-flex;

                .paragraph {
                    color: #697488;
                    line-height: 18px;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
}