.section {
    margin-bottom: 24px;
    width: 100%;
    .container {
        margin-right: 0px;
        margin-left: -16px;
        position: relative;
        height: 100%;
        .slider {
            cursor: pointer;
            .div {
                .image {
                    border-radius: 8px;
                }
            }
        }
    }
}