.country-flag {
    background: url("../components/assets/png/flags/flags4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 11px;
    overflow: hidden;
    width: 16px;
    display: inline-block;
    min-width: 16px;
  
    &.country-flag-7o { background-position: 0 -44px; }
    &.country-flag-7p { background-position: 0 -1782px; }
    &.country-flag-7q { background-position: 0 -2311px; }
    &.country-flag-7r { background-position: 0 -2509px; }
    &.country-flag-7s { background-position: 0 -1562px; }
    &.country-flag-7t { background-position: 0 -594px; }
    &.country-flag-7u { background-position: 0 -1947px; }
    &.country-flag-7v { background-position: 0 -1980px; }
    &.country-flag-7w { background-position: 0 -869px; }
    &.country-flag-7x { background-position: 0 -2377px; }
    &.country-flag-7y { background-position: 0 -1034px; }
    &.country-flag-7z { background-position: 0 -792px; }
    &.country-flag-80 { background-position: 0 -55px; }
    &.country-flag-81 { background-position: 0 -1716px; }
    &.country-flag-82 { background-position: 0 -1331px; }
    &.country-flag-83 { background-position: 0 -1243px; }
    &.country-flag-84 { background-position: 0 -363px; }
    &.country-flag-85 { background-position: 0 -1496px; }
    &.country-flag-86 { background-position: 0 -1771px; }
    &.country-flag-87 { background-position: 0 -1573px; }
    &.country-flag-88 { background-position: 0 0; }
    &.country-flag-89 { background-position: 0 -484px; }
    &.country-flag-8a { background-position: 0 -1298px; }
    &.country-flag-8b { background-position: 0 -1914px; }
    &.country-flag-8c { background-position: 0 -1100px; }
    &.country-flag-8d { background-position: 0 -2223px; }
    &.country-flag-8e { background-position: 0 -55px; }
    &.country-flag-8f { background-position: 0 -1650px; }
    &.country-flag-8g { background-position: 0 -1584px; }
    &.country-flag-8h { background-position: 0 -2707px; }
    &.country-flag-8i { background-position: 0 -770px; }
    &.country-flag-8j { background-position: 0 -55px; }
    &.country-flag-8k { background-position: 0 -1408px; }
    &.country-flag-8l { background-position: 0 -1683px; }
    &.country-flag-8m { background-position: 0 -2586px; }
    &.country-flag-8n { background-position: 0 -726px; }
    &.country-flag-8o { background-position: 0 -1892px; }
    &.country-flag-8p { background-position: 0 -1848px; }
    &.country-flag-8q { background-position: 0 -2652px; }
    &.country-flag-8r { background-position: 0 -308px; }
    &.country-flag-8s { background-position: 0 -275px; }
    &.country-flag-8t { background-position: 0 -528px; }
    &.country-flag-8u { background-position: 0 -2101px; }
    &.country-flag-8v { background-position: 0 -2267px; }
    &.country-flag-8w { background-position: 0 -2729px; }
    &.country-flag-8x { background-position: 0 -814px; }
    &.country-flag-8y { background-position: 0 -2256px; }
    &.country-flag-8z { background-position: 0 -825px; }
    &.country-flag-90 { background-position: 0 -1386px; }
    &.country-flag-91 { background-position: 0 -2432px; }
    &.country-flag-92 { background-position: 0 -1529px; }
    &.country-flag-93 { background-position: 0 -1188px; }
    &.country-flag-94 { background-position: 0 -1507px; }
    &.country-flag-95 { background-position: 0 -1639px; }
    &.country-flag-96 { background-position: 0 -1958px; }
    &.country-flag-97 { background-position: 0 -715px; }
    &.country-flag-98 { background-position: 0 -176px; }
    &.country-flag-99 { background-position: 0 -2410px; }
    &.country-flag-9a { background-position: 0 -2443px; }
    &.country-flag-9b { background-position: 0 -2762px; }
    &.country-flag-9c { background-position: 0 -1111px; }
    &.country-flag-9d { background-position: 0 -2333px; }
    &.country-flag-9e { background-position: 0 -1859px; }
    &.country-flag-9f { background-position: 0 -1661px; }
    &.country-flag-9g { background-position: 0 -1815px; }
    &.country-flag-9h { background-position: 0 -1199px; }
    &.country-flag-9i { background-position: 0 -1903px; }
    &.country-flag-9j { background-position: 0 -1012px; }
    &.country-flag-9k { background-position: 0 -2234px; }
    &.country-flag-9l { background-position: 0 -1705px; }
    &.country-flag-9m { background-position: 0 -880px; }
    &.country-flag-9n { background-position: 0 -627px; }
    &.country-flag-9o { background-position: 0 -2112px; }
    &.country-flag-9p { background-position: 0 -2575px; }
    &.country-flag-9q { background-position: 0 -1925px; }
    &.country-flag-9r { background-position: 0 -2399px; }
    &.country-flag-9s { background-position: 0 -1760px; }
    &.country-flag-9t { background-position: 0 -407px; }
    &.country-flag-9u { background-position: 0 -2366px; }
    &.country-flag-9v { background-position: 0 -935px; }
    &.country-flag-9w { background-position: 0 -803px; }
    &.country-flag-9x { background-position: 0 -2355px; }
    &.country-flag-9y { background-position: 0 -561px; }
    &.country-flag-9z { background-position: 0 -2245px; }
    &.country-flag-a0 { background-position: 0 -2741px; }
    &.country-flag-a1 { background-position: 0 -858px; }
    &.country-flag-a2 { background-position: 0 -319px; }
    &.country-flag-a3 { background-position: 0 -902px; }
    &.country-flag-a4 { background-position: 0 -1694px; }
    &.country-flag-a5 { background-position: 0 -1441px; }
    &.country-flag-a6 { background-position: 0 -2156px; }
    &.country-flag-a7 { background-position: 0 -2696px; }
    &.country-flag-a8 { background-position: 0 -649px; }
    &.country-flag-a9 { background-position: 0 -2013px; }
    &.country-flag-aa { background-position: 0 -1969px; }
    &.country-flag-ab { background-position: 0 -1155px; }
    &.country-flag-ac { background-position: 0 -341px; }
    &.country-flag-ad { background-position: 0 -385px; }
    &.country-flag-ae { background-position: 0 -1320px; }
    &.country-flag-af { background-position: 0 -143px; }
    &.country-flag-ag { background-position: 0 -1991px; }
    &.country-flag-ah { background-position: 0 -1727px; }
    &.country-flag-ai { background-position: 0 -429px; }
    &.country-flag-aj { background-position: 0 -242px; }
    &.country-flag-ak { background-position: 0 -2057px; }
    &.country-flag-al { background-position: 0 -1375px; }
    &.country-flag-am { background-position: 0 -2167px; }
    &.country-flag-an { background-position: 0 -2719px; }
    &.country-flag-ao { background-position: 0 -462px; }
    &.country-flag-ap { background-position: 0 -1210px; }
    &.country-flag-aq { background-position: 0 -2630px; }
    &.country-flag-ar { background-position: 0 -1617px; }
    &.country-flag-as { background-position: 0 -374px; }
    &.country-flag-at { background-position: 0 -330px; }
    &.country-flag-au { background-position: 0 -1430px; }
    &.country-flag-av { background-position: 0 -1793px; }
    &.country-flag-aw { background-position: 0 -1518px; }
    &.country-flag-ax { background-position: 0 -2090px; }
    &.country-flag-ay { background-position: 0 -2487px; }
    &.country-flag-az { background-position: 0 -1804px; }
    &.country-flag-b0 { background-position: 0 -704px; }
    &.country-flag-b1 { background-position: 0 -748px; }
    &.country-flag-b2 { background-position: 0 -451px; }
    &.country-flag-b3 { background-position: 0 -2190px; }
    &.country-flag-b4 { background-position: 0 -1936px; }
    &.country-flag-b5 { background-position: 0 -2068px; }
    &.country-flag-b6 { background-position: 0 -132px; }
    &.country-flag-b7 { background-position: 0 -979px; }
    &.country-flag-b8 { background-position: 0 -1122px; }
    &.country-flag-b9 { background-position: 0 -1254px; }
    &.country-flag-ba { background-position: 0 -1474px; }
    &.country-flag-bb { background-position: 0 -682px; }
    &.country-flag-bc { background-position: 0 -1287px; }
    &.country-flag-bd { background-position: 0 -2597px; }
    &.country-flag-be { background-position: 0 -1353px; }
    &.country-flag-bf { background-position: 0 -2145px; }
    &.country-flag-bg { background-position: 0 -616px; }
    &.country-flag-bh { background-position: 0 -1870px; }
    &.country-flag-bi { background-position: 0 -2520px; }
    &.country-flag-bj { background-position: 0 -1551px; }
    &.country-flag-bk { background-position: 0 -1144px; }
    &.country-flag-bl { background-position: 0 -198px; }
    &.country-flag-bm { background-position: 0 -2179px; }
    &.country-flag-bn { background-position: 0 -2024px; }
    &.country-flag-bo { background-position: 0 -2201px; }
    &.country-flag-bp { background-position: 0 -1738px; }
    &.country-flag-bq { background-position: 0 -2553px; }
    &.country-flag-br { background-position: 0 -2685px; }
    &.country-flag-bs { background-position: 0 -913px; }
    &.country-flag-bt { background-position: 0 -583px; }
    &.country-flag-bu { background-position: 0 -253px; }
    &.country-flag-bv { background-position: 0 -638px; }
    &.country-flag-bw { background-position: 0 -11px; }
    &.country-flag-bx { background-position: 0 -1881px; }
    &.country-flag-by { background-position: 0 -1749px; }
    &.country-flag-bz { background-position: 0 -110px; }
    &.country-flag-c0 { background-position: 0 -550px; }
    &.country-flag-c1 { background-position: 0 -2476px; }
    &.country-flag-c2 { background-position: 0 -154px; }
    &.country-flag-c3 { background-position: 0 -2079px; }
    &.country-flag-c4 { background-position: 0 -209px; }
    &.country-flag-c5 { background-position: 0 -836px; }
    &.country-flag-c6 { background-position: 0 -1837px; }
    &.country-flag-c7 { background-position: 0 -1001px; }
    &.country-flag-c8 { background-position: 0 -2035px; }
    &.country-flag-c9 { background-position: 0 -231px; }
    &.country-flag-ca { background-position: 0 -847px; }
    &.country-flag-cb { background-position: 0 -1485px; }
    &.country-flag-cc { background-position: 0 -2344px; }
    &.country-flag-cd { background-position: 0 -946px; }
    &.country-flag-ce { background-position: 0 -1177px; }
    &.country-flag-cf { background-position: 0 -517px; }
    &.country-flag-cg { background-position: 0 -473px; }
    &.country-flag-ch { background-position: 0 -264px; }
    &.country-flag-ci { background-position: 0 -671px; }
    &.country-flag-cj { background-position: 0 -2674px; }
    &.country-flag-ck { background-position: 0 -660px; }
    &.country-flag-cl { background-position: 0 -1012px; }
    &.country-flag-cm { background-position: 0 -495px; }
    &.country-flag-cn { background-position: 0 -99px; }
    &.country-flag-co { background-position: 0 -1397px; }
    &.country-flag-cp { background-position: 0 -55px; }
    &.country-flag-cq { background-position: 0 -1078px; }
    &.country-flag-cr { background-position: 0 -2619px; }
    &.country-flag-cs { background-position: 0 -2300px; }
    &.country-flag-ct { background-position: 0 -2123px; }
    &.country-flag-cu { background-position: 0 -2388px; }
    &.country-flag-cv { background-position: 0 -2134px; }
    &.country-flag-cw { background-position: 0 -1045px; }
    &.country-flag-cx { background-position: 0 -2465px; }
    &.country-flag-cy { background-position: 0 -737px; }
    &.country-flag-cz { background-position: 0 -22px; }
    &.country-flag-d0 { background-position: 0 -2773px; }
    &.country-flag-d1 { background-position: 0 -2212px; }
    &.country-flag-d2 { background-position: 0 -1221px; }
    &.country-flag-d3 { background-position: 0 -1067px; }
    &.country-flag-d4 { background-position: 0 -1364px; }
    &.country-flag-d5 { background-position: 0 -2641px; }
    &.country-flag-d6 { background-position: 0 -352px; }
    &.country-flag-d7 { background-position: 0 -2663px; }
    &.country-flag-d8 { background-position: 0 -1826px; }
    &.country-flag-d9 { background-position: 0 -33px; }
    &.country-flag-da { background-position: 0 -2278px; }
    &.country-flag-db { background-position: 0 -1342px; }
    &.country-flag-dc { background-position: 0 -187px; }
    &.country-flag-dd { background-position: 0 -2289px; }
    &.country-flag-de { background-position: 0 -957px; }
    &.country-flag-df { background-position: 0 -506px; }
    &.country-flag-dg { background-position: 0 -2784px; }
    &.country-flag-dh { background-position: 0 -605px; }
    &.country-flag-di { background-position: 0 -2751px; }
    &.country-flag-dj { background-position: 0 -1089px; }
    &.country-flag-dk { background-position: 0 -440px; }
    &.country-flag-dl { background-position: 0 -539px; }
    &.country-flag-dm { background-position: 0 -1309px; }
    &.country-flag-dn { background-position: 0 -286px; }
    &.country-flag-do { background-position: 0 -1606px; }
    &.country-flag-dp { background-position: 0 -2542px; }
    &.country-flag-dq { background-position: 0 -1166px; }
    &.country-flag-dr { background-position: 0 -2002px; }
    &.country-flag-ds { background-position: 0 -2454px; }
    &.country-flag-dt { background-position: 0 -2608px; }
    &.country-flag-du { background-position: 0 -1463px; }
    &.country-flag-dv { background-position: 0 -1265px; }
    &.country-flag-dw { background-position: 0 -2322px; }
    &.country-flag-dx { background-position: 0 -1056px; }
    &.country-flag-dy { background-position: 0 -968px; }
    &.country-flag-dz { background-position: 0 -1012px; }
    &.country-flag-e0 { background-position: 0 -1672px; }
    &.country-flag-e1 { background-position: 0 -1276px; }
    &.country-flag-e2 { background-position: 0 -1540px; }
    &.country-flag-e3 { background-position: 0 -165px; }
    &.country-flag-e4 { background-position: 0 -1595px; }
    &.country-flag-e5 { background-position: 0 -2046px; }
  }
  