body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin: 0;
  figure {
    margin: 0;
  }
  ol {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}