body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin: 0;
  figure {
    margin: 0;
  }
  ol {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .slick-slider {
    .slick-prev {
      font-weight: bold;
      left: -40px;
      &::before {
          color: #5d3ebc;
          content: '<'
      }
    }
    .slick-next {
      font-weight: bold;
      &::before {
          color: #5d3ebc;
          content: '>'
      }
    }
}
.slider {
    cursor: pointer;
}
}